/* Global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
   background-image: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url("crab.png");
  background-size: cover;
  background-position: center;
 /* background-attachment: fixed;*/ /* creates a nice parallax effect */
  /*background: #f0f8ff;*/ /* Light tropical blue */
 /* color: #033b4a;*/ /* Deep sea blue */
}

h2 {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
/*  color: #026e81;
  margin-bottom: 10px; */
}

section {
  padding: 30px 20px;
  max-width: 900px;
  margin: auto;
}

/* Header */
.header-simple {
  background: #7ec8e3; /* Soft ocean blue */
  padding: 30px 20px;
  text-align: center;
  color: #033b4a;
}

/* Navigation */
.top-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #dff6ff;
  padding: 10px;
  flex-wrap: wrap;
}

.top-nav a {
  text-decoration: none;
  color: #026e81;
  font-weight: bold;
}

/* Amenities */
ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  background: #dff6ff;
  margin: 6px 0;
  padding: 10px;
  border-radius: 6px;
}

/* Booking Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  background: #0284a8; /* Ocean blue */
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* Footer */
footer {
  background: #026e81;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* Mobile-first layout */
@media (min-width: 700px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
  }
}





